BOT_TOKEN=
MONGODB_URI=
BOT_DEFAULT_PREFIX=
VERSION=
UPTIME_KUMA_MONITOR_DOMAIN=
UPTIME_KUMA_MONITOR_ID=


# Fill out these values with the role id's of the roles you have in your server

prefrosh=
freshman=
sophomore=
junior=
senior=
graduatestudent=
alumni=8
sileader=
ta=
studentemployee=